<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include ('partials/head.ejs')%>

</head>

<body>
    <%- include ('partials/navigation.ejs')%>
    <div class="container p-5">
        <div class="card">
            <div class="card-header">
                Development of Node JS Applications and Bootstrap
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Node.js is an open-source, cross-platform, JavaScript runtime environment that executes
                        JavaScript code outside of a web browser. Node.js lets developers use JavaScript to write
                        command line tools and for server-side scripting—running scripts server-side to produce dynamic
                        web page content before the page is sent to the user's web browser. Consequently, Node.js
                        represents a "JavaScript everywhere" paradigm, unifying web-application development around a
                        single programming language, rather than different languages for server- and client-side
                        scripts.</p>
                        <footer class="blockquote-footer">Camilo Mendez Marin</footer>
                </blockquote>
            </div>
        </div>

        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="" class="w-auto animated bounceIn">
            </div>
        </header>

        <div class="card-deck">
            <div class="card">
                <img src="/img/python.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Python</h5>
                    <p class="card-text">Python can be easy to pick up whether you're a first time programmer or you're
                        experienced with other languages. The following pages are a useful first step to get on your way
                        writing programs with Python!.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="/img/java.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Java</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="/img/notWindows.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Linux</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>The most subscribed Youtuber</h3>
                <p>
                    <span>Elit exercitationem id illo sit distinctio. Deserunt ut debitis voluptates mollitia
                        dignissimos eligendi vel quidem itaque dolores ratione ut. Soluta accusantium dolor nemo
                        suscipit rerum. Aliquid quasi excepturi provident eos.</span>
                </p>
            </div>
        </div>
    </div>

    <%- include ('partials/footer.ejs')%>
</body>

</html>