body {
    background: #F0F066;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFED, #FFFFED);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #658AC7, #2594BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
  }
  
  .nav-link {
   /* text-transform: uppercase;*/
   font-family:Arial, Helvetica, sans-serif;
  }
  p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
  }
  
  header img {
    width: 60%;
  }